/*Личные сообщения*/
#lk-content .privat_block .avatar {
    border-radius: 3px;
	margin:0 10px;
}
#lk-content .privat_block p {
	margin:0px;
}
#lk-content .message-block {
	border-radius: 3px;
	margin: 0 5px;
	min-height: 45px;
	overflow: hidden;
	padding: 0 5px 0px;
}
#lk-content .message-block iframe{
	display:block;
	margin:5px auto;
}
#count-word {
    color: #008000;
}
.form_new_message .reading_mess {
    margin: 5px 0 0;
}
#privatemess .private-message p {
    line-height: 1;
    margin: 0;
}
#privatemess .private-message .content-mess {
    min-height: 45px;
}
.privat_block .old_mess_block {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #1DACD6;
    margin-bottom: 15px;
    padding: 5px 10px;
    text-align: center;
}
.privat_block .old_mess_block a {
    color: #1DACD6;
    font-weight: bold;
    text-decoration: none;
}
.correspond .status_author_mess {
    height: 16px;
    margin-left: -15px;
    margin-top: 5px;
    position: absolute;
}
#message-list{
    clear: both;
    padding-top: 20px;
    
    
    padding-right: 5px;
    min-height: 100px;
}
#privat_block .prmess{
    margin-bottom:10px;
}
#privat_block #resize-content{
    height:300px;
    overflow-y: auto;
}
#privat_block #resize.ui-resizable {
    z-index: 999;
    width: 100%;
    position: absolute;
}
#privat_block #resize .ui-resizable-s {
    background: none repeat scroll 0 0 #E5E5E5;
    height: 3px;
    width: 50px;
    margin: 0 auto;
    cursor: s-resize;
    position: static;
    border-top: 3px dotted #fff;
    border-bottom: 3px dotted #fff;
}
.privat_block .private-buttons{
	overflow: hidden;
	clear: both;
}
.privat_block .private-buttons .alignright{
	float:right;
}
.privat_block .private-buttons .alignleft{
	float:left;
}
.privat_block .message-block {
    border: medium none;
	position:relative;
	overflow:hidden;
}
.privat_block .message-block .important{
    display:block;
	position:absolute;
	height:13px;
	width:13px;
	opacity:0;
	right:0;
	top:50%;
	background:url(img/star.png) no-repeat;
}
.privat_block .message-block:hover > .important{
	opacity:0.5;
}
.privat_block .message-block .important:hover,
.privat_block .message-block .important.active{
	opacity:1;
	cursor:pointer;
}
.privat_block .message-block .author-avatar {
	float:left
}
.privat_block .message-block.you .author-avatar {
	float:right;
}
.privat_block .message-block .content-mess {
    max-width: 390px;
}
.chatroom  .privat_block .message-block .content-mess {
max-width: 80%;
}
.privat_block .message-block .content-mess .time-message {
    font-size: 9px;
    font-weight: normal;
}
.privat_block .message-block .content-mess .balloon-message {
    background: none repeat scroll 0 0 #E7FFE8;
    border: 1px solid #008000;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #888888;
    color: #000000;
    margin: 20px 60px 10px;
    padding: 2px 10px;
	word-wrap: break-word;
}
.privat_block .message-block .content-mess p{
	margin:0;
}
.privat_block .message-block .content-mess .privat-balloon {
    background: url("img/ballun-left.png") no-repeat scroll 0 0 #008000;
    display: block;
    height: 13px;
    margin: 7px 0 0 60px;
    position: absolute;
    width: 29px;
}
.privat_block .message-block.you .balloon-message {
    background: none repeat scroll 0 0 #F0FBFF;
	border-color: #3F7BAA;
	margin-right: 0;
	min-width: 25px;
	word-wrap: break-word;
}
.privat_block .you .content-mess .privat-balloon {
    background: url("img/ballun-right.png") no-repeat scroll 0 0 #3F7BAA;
    display: block;
    height: 13px;
    margin: 7px 0 0 70px;
    position: absolute;
    right: 0;
    width: 29px;
}
.privat_block .you .content-mess {
    float: right;
    position: relative;
}
.privat_block .you .author-avatar {
    float: right;
    margin-top: 0 !important;
}
.privat_block .you .time-message {
    text-align: right;
}
.privat_block .mess_status {
    color: #FF0000;
    float: right;
	font-size: 18px;
}

.privat_block .message-block.file .content-mess{
	max-width: 100%;
}
.privat_block .message-block.file .time-message{
	margin-bottom: 0;
}
.privat_block .message-block.file .balloon-message{
	background: none repeat scroll 0 0 #FFFF99;
    border: medium none;
    box-shadow: none;
    margin: 0;
    padding: 5px;
    text-align: center;
}
#upload-files-mess .b-upload__files{
	position: relative;
}
#upload-files-mess .b-upload__files .b-thumb{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: none;
    margin-top: -45px;
    padding: 5px 10px 10px;
    position: absolute;
    width: 95%;
}
#upload-files-mess .b-upload__files .progress{
	position: absolute;
    top: 23px;
}
.prmess .delete_old_message{
	float: right; 
	margin-top: -17px;
}
.privat_block .b-upload__dnd{
	padding: 15px;
}
#upload-files-mess{
	margin-top: 10px;
	clear: both;
}
.privat_block #simple-btn{
	font-size: 12px;
    padding: 3px 5px;
    float: right;
}
.privat_block #simple-btn .js-browse{
	display: inline-block;
}
.privat_block .recall-button.btn{
	width:auto;
}
.pending-message {
    color: #FF0000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
#privatemess {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: -250px;
    box-shadow: 4px 4px 5px #777777;
    color: #FFFFFF;
    margin: 10px;
    opacity: 0.9;
    padding: 10px 10px 40px 10px;
    position: fixed;
    right: 0;
    width: 300px;
    z-index: 999;
}
#privatemess p {
    padding: 0;
}
#privatemess .close-mess-window {
    cursor: pointer;
    float: right;
}
#privatemess .prmess {
    display: none;
    margin-top: 10px;
}
#privatemess .title-new-mess {
    color: #FF0000;
    font-weight: bold;
    text-align: center;
    text-decoration: blink;
    line-height: 1;
    margin: 0;
}
#privatemess .name-author-mess {
    font-weight: bold;
    margin: 0 0 5px !important;
    text-decoration: underline;
}
#privatemess .mini_status_user{
    position: absolute;
    bottom: 50px;
    left: 50px;
}
#privatemess .content-notice{
    clear:both;
}
#privatemess .form_new_message{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#privatemess .view-form{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#privatemess .notice-ava{
    float:left;
    margin:0 10px 0 0;
    position:relative;
}
#privatemess .miniaddmess{
    float:right;
}
#privatemess .notice{
    font-size:10px;
    float:right;
}
.correspond .redline {
    background: none repeat scroll 0 0 #FFFAFA !important;
    border: 3px solid rgba(253, 55, 55, 0.33) !important;
}
.correspond .buttons-navi{
	clear:both;
	overflow:hidden;
}
.correspond #contact-lists > div {
	margin:5px 0;
}
.single_correspond {
    border: 1px solid #AAAAAA;
    margin: 5px 0;
    padding: 5px;
}
.single_correspond .avatar {
    margin: 0 15px 0 0;
}
#rcl-popup .single_correspond{
	width: 260px;
	float: left;
	margin: 2px;
	font-size: 12px;
	line-height: 1;
}
.privat_block .del_history, .privat_block .remove_ban_list{
    float: right;
    padding-right:0px;
}
.privat_block textarea{
	width:96%;
	padding:5px;
}
#private-smiles{
	position: relative;
	float: right;
	margin-left: 20px;
}
#private-smiles .smiles{
	text-align: right;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	width: 198px;
	position: absolute;
	display: none;
	left: -190px;
	top: -35px;
        z-index: 9;
}
#private-smiles .smiles img{
	cursor:pointer;
	display:inline-block;
    max-height: 25px;
}