.btn {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.btn-success {
    background: #FFDC73;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    padding: 8px 20px;
}
.btn-success.btn-small[aria-disabled], .btn-primary[disabled], .btn-warning[disabled] {
    opacity: 0.7;
}
.btn-primary {
    background: -moz-linear-gradient(center top , #62C462 0%, #51A351) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    color: #333333;
    padding: 8px 20px;
}
.btn-warning {
    background: -moz-linear-gradient(center top , #EE5F5B 0%, #BD362F) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    color: #333333;
    padding: 8px 20px;
}
.btn-small {
    font-size: 16px;
    padding: 5px 10px;
}
.btn input {
    cursor: pointer;
    font-size: 50px;
    opacity: 0;
    position: absolute;
    right: -40px;
    top: -10px;
    z-index: 2;
}
.btn-txt {
    position: relative;
}
.btn .progress {
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
}
.progress .bar {
    background-color: #FF6600;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.progress-small {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
    height: 5px;
    padding: 1px;
}
.progress-small .bar {
    background-color: #FFA500;
    border-radius: 10px;
    height: 100%;
    position: static;
    width: 0;
}
.webcam, .userpic {
    position: relative;
}
.webcam .btn, .userpic .btn {
}
.webcam__preview, .userpic__preview {
    position: absolute;
}
.webcam {
    background-position: center 10px;
    background-size: auto auto;
    margin: 15px;
}
.b-upload {
    white-space: nowrap;
}
.b-upload__name, .b-upload__size {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.b-upload__size {
    color: #666666;
    font-size: 12px;
}
.b-upload .js-files:after {
    clear: both;
    content: "";
    display: block;
}
.b-upload__dnd {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 30px;
}
.b-upload__dnd_hover {
    background-color: #FFA500;
    color: #FFFFFF;
}
.b-upload__hint {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 8px;
    white-space: normal;
}
.b-thumb {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    float: left;
    margin: 3px;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.b-thumb__del {
    color: #FF0000;
    cursor: pointer;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    right: -1px;
    top: -6px;
    transition: opacity 0.1s ease-in 0s;
    z-index: 999;
}
.b-thumb:hover .b-thumb__del {
    opacity: 1;
}
.b-thumb__rotate {
    background: url("uploader/rotate.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 32px;
    left: 50%;
    margin: -16px 0 0 -16px;
    position: absolute;
    top: 40%;
    width: 32px;
}
.b-thumb__preview {
    height: 100px;
    transition: transform 0.2s ease-in 0s;
    width: 100px;
}
.b-thumb__preview__pic {
    background: url("uploader/file-icon.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
}
.b-thumb__name {
    font-size: 12px;
    overflow: hidden;
    width: 80px;
}
.b-thumb__progress {
    left: 10px;
    position: absolute;
    right: 10px;
    top: 75px;
}
.btn_browse {
    background: -moz-linear-gradient(center top , #FFE599 0%, #FFDC73) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
    padding: 8px 20px;
}
.btn_browse_small {
    font-size: 16px;
    padding: 5px 10px;
}
.btn_browse_small[aria-disabled] {
    opacity: 0.5;
}
.btn_choose {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    padding: 5px 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.btn__inp {
    cursor: pointer;
    font-size: 50px;
    opacity: 0;
    position: absolute;
    right: -10px;
    top: -10px;
}
.btn__progress {
    background-color: #FF6600;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.fileprogress {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3);
    height: 5px;
    padding: 1px;
}
.fileprogress__bar {
    background-color: #FFA500;
    border-radius: 10px;
    height: 100%;
    width: 0;
}
.userpic {
    border: 2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    float: left;
    height: 150px;
    margin-right: 20px;
    position: relative;
    width: 150px;
}
.userpic .btn {
    margin: 0 0 10px 180px;
}
.userpic__preview {
    position: absolute;
}
.b-upload {
    white-space: nowrap;
}
.b-upload__name, .b-upload__size {
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}
.b-upload__size {
    color: #666666;
    font-size: 12px;
}
.b-upload .js-files:after {
    clear: both;
    content: "";
    display: block;
}
.b-upload__dnd {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 30px;
	overflow: hidden;
}
.b-upload__dnd_hover {
    background-color: #FFA500;
    color: #FFFFFF;
}
.themodal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100000;
}
.lock {
    overflow: hidden;
}
.popup {
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #000000;
    display: inline-block;
    float: left;
    margin: 25px;
}
.popup__body {
    margin: 10px 10px 5px;
}
pre code {
    color: #000000;
    display: block;
    padding: 0.5em;
}
pre .comment, pre .template_comment, pre .javadoc, pre .comment * {
    color: #006A00;
}
pre .keyword, pre .literal, pre .nginx .title {
    color: #AA0D91;
}
pre .method, pre .list .title, pre .tag .title, pre .setting .value, pre .winutils, pre .tex .command, pre .http .title, pre .request, pre .status {
    color: #000088;
}
pre .envvar, pre .tex .special {
    color: #666600;
}
pre .string {
    color: #C41A16;
}
pre .tag .value, pre .cdata, pre .filter .argument, pre .attr_selector, pre .apache .cbracket, pre .date, pre .regexp {
    color: #008800;
}
pre .sub .identifier, pre .pi, pre .tag, pre .tag .keyword, pre .decorator, pre .ini .title, pre .shebang, pre .prompt, pre .hexcolor, pre .rules .value, pre .css .value .number, pre .symbol, pre .symbol .string, pre .number, pre .css .function, pre .clojure .title, pre .clojure .built_in {
    color: #1C00CF;
}
pre .class .title, pre .haskell .type, pre .smalltalk .class, pre .javadoctag, pre .yardoctag, pre .phpdoc, pre .typename, pre .tag .attribute, pre .doctype, pre .class .id, pre .built_in, pre .setting, pre .params, pre .clojure .attribute {
    color: #5C2699;
}
pre .variable {
    color: #3F6E74;
}
pre .css .tag, pre .rules .property, pre .pseudo, pre .subst {
    color: #000000;
}
pre .css .class, pre .css .id {
    color: #9B703F;
}
pre .value .important {
    color: #FF7700;
    font-weight: bold;
}
pre .rules .keyword {
    color: #C5AF75;
}
pre .annotation, pre .apache .sqbracket, pre .nginx .built_in {
    color: #9B859D;
}
pre .preprocessor, pre .preprocessor * {
    color: #643820;
}
pre .tex .formula {
    background-color: #EEEEEE;
    font-style: italic;
}
pre .diff .header, pre .chunk {
    color: #808080;
    font-weight: bold;
}
pre .diff .change {
    background-color: #BCCFF9;
}
pre .addition {
    background-color: #BAEEBA;
}
pre .deletion {
    background-color: #FFC8BD;
}
pre .comment .yardoctag {
    font-weight: bold;
}
pre .method .id {
    color: #000000;
}
.b-upload__dnd hr{
	clear:both;
}
#postupload{
	margin:15px 0;
}