/*Рейтинг*/
.rayt-sistem-post{
	clear: both;
    margin: 20px 0 15px 0;
    overflow: hidden;
}
.post-rayt-content {
    color: #53912B;
	margin: 0;
}
.comment-rayt, .post-rayt {
    margin: 5px 0;
    overflow: hidden;
    text-align: right;
}
.comment-rayt .rayt-res, .post-rayt .rayt-res, .post-rayt-title {
    color: #008000;
    float: left;
    font-weight: bold;
}
.post-rayt-title {
    margin: 0.5em 0;
}
#comments .votes-comment li, .votes-post ul, .votes-post li {
    clear: both;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0 5px;
}
.close-votes {
    background: none repeat scroll 0 0 #444444;
    border: 1px solid #444444;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    padding: 0 3px;
}
.vote-results, .vote-post-results {
	border-radius: 99px;
	color: #888;
	cursor: pointer;
	margin-left: 5px;
	text-align: center;
	line-height: 1;
}
.comment-rayt .rayt, .post-rayt .raytpost {
    cursor: pointer;
    float: right;
    margin: 0 2px;
    font-size: 24px;
}
.comment-rayt .minus_rayt, .post-rayt .minus_rayt {
    color: red;
}
.comment-rayt .plus_rayt, .post-rayt .plus_rayt {
    color: rgb(0, 187, 0);
}
.like_rayt {
    color:#3b8dbd;
}
.userlist .rayting-rcl, #lk-conteyner .rayting-rcl {
    display: block;
}
#lk-conteyner a .rayting-rcl span{
    cursor: pointer;
}
.rayt-plus{
	color: #008000;
}
.rayt-minus{
	color: #FF0000;
}
span.rayting-rcl span {
    background: none repeat scroll 0 0 #FDF4E3;
    border: 1px solid;
    border-radius: 3px;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    margin: 0 auto;
    padding: 1px 4px;
    text-align: center;
    min-width: 50px;
	display:block;
	line-height: 1.4;
}
span.rayting-rcl .rayt-plus {
    background: none repeat scroll 0 0 #BDECB6;
    border-color: #008000;   
}
span.rayting-rcl .rayt-minus {
    background: none repeat scroll 0 0 #FDDDE6;
    border-color: #FF0000;
}
#lk-conteyner .all-rayt-user {
    text-decoration: none;
}
#lk-conteyner .rayting-rcl {
    font-size: 14px;
    margin: 0 auto;
    width: 70px;
	clear: both;
}
#lk-content .publics-table-rcl span.rayting-rcl {
    font-size: 10px;
}
#lk-content .publics-table-rcl .rayting-rcl span{
	display: inline-block;
	width: auto;
	margin: 0 0 0 5px;
}
.float-window-recall .content-rayting-block{
    margin:5px 0;
}
.float-window-recall .fa-thumbs-o-up{
    color:green;
}
.float-window-recall .fa-thumbs-o-down{
    color:red;
}